html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: 'Parkinsans';
}

.navbar {
    background-color: black;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    height: 70px;
}

.navbar a {
    color: white;
    text-align: center;
    font-size: 20px;
    text-decoration: none;
    padding: 14px 16px;
}

.navbar a:hover {
    color: red;
}

section {
    padding: 460px;
    margin-top: 0px;
}

#home { 
    background-color: #E2F1E7;
    text-align: center; 
}

#about { 
    background-color: #243642;
    text-align: center;
    
}

#about h2 {
    color: white;
    font-weight: normal;
}

#certificates { 
    background-color: #387478;
    position: relative;
    overflow: hidden;
    padding: 50px;
 }
 
#contacts { 
    background-color: #629584; 
}

.certificates-container {
    display: flex;
    overflow: hidden; 
    transition: transform 0.5s ease-in-out;
  }

.certificates-container img {
    flex: 0 0 auto;
    height: 810px;
    border: 2px solid #ccc;
    border-radius: 10px;
    margin: 0 10px;
    -webkit-user-drag: none;
}

button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 1000;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

.contact-icons {
    display: flex;
    justify-content: center;
    gap: 20px;
}
  
.contact-icons a {
    display: block;
}
  
.contact-icons img {
    width: 80px;  
    height: 80px;
    transition: transform 0.3s ease; 
}
  
.contact-icons img:hover {
    transform: scale(1.1); 
}

.home-image {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    position: relative;
}

.home-image .man-programming {
    border-radius: 50%;
    width: 500px;
    margin-bottom: 0px;
    position: absolute;
    left: -20%;
    -webkit-user-drag: none;
}

.home-image .man-programming:hover {
    box-shadow: 0 0 20px 10px rgba(0, 123, 255, 0.6);
}

.bubble-box {
    position: absolute;
    left: 40%; 
    padding: 10px 20px;
    background-color: #243642;
    color: #fff;
    font-size: 19px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    opacity: 0; 
    pointer-events: none;
    white-space: normal; 
    transition: opacity 0.3s ease; 
    word-wrap: break-word;
    word-break: break-word;
    max-width: 340px;
    overflow-wrap: break-word;
    text-align: center;

}

.home-image:hover .bubble-box {
    opacity: 1;
}

.bubble-box::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -20px;
    transform: translateY(-50%);
    border-width: 10px;
    border-style: solid;
    border-color: transparent #243642 transparent transparent; 
  }

  .footer {
    background-color: #000000;
    color: white;
    padding: 20px 0;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
  }
  
  .footer-content {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .footer p {
    margin: 0;
    font-size: 14px;
  }